@import "tailwindcss";

@font-face {
  font-family: 'Paperlogy';
  src: url('/fonts/Paperlogy-1Thin.ttf') format('truetype');
  font-weight: 100;
}

@font-face {
  font-family: 'Paperlogy';
  src: url('/fonts/Paperlogy-2ExtraLight.ttf') format('truetype');
  font-weight: 200;
}

@font-face {
  font-family: 'Paperlogy';
  src: url('/fonts/Paperlogy-3Light.ttf') format('truetype');
  font-weight: 300;
}

@font-face {
  font-family: 'Paperlogy';
  src: url('/fonts/Paperlogy-4Regular.ttf') format('truetype');
  font-weight: 400;
}

@font-face {
  font-family: 'Paperlogy';
  src: url('/fonts/Paperlogy-5Medium.ttf') format('truetype');
  font-weight: 500;
}

@font-face {
  font-family: 'Paperlogy';
  src: url('/fonts/Paperlogy-6SemiBold.ttf') format('truetype');
  font-weight: 600;
}

@font-face {
  font-family: 'Paperlogy';
  src: url('/fonts/Paperlogy-7Bold.ttf') format('truetype');
  font-weight: 700;
}

@font-face {
  font-family: 'Paperlogy';
  src: url('/fonts/Paperlogy-8ExtraBold.ttf') format('truetype');
  font-weight: 800;
}

@font-face {
  font-family: 'Paperlogy';
  src: url('/fonts/Paperlogy-9Black.ttf') format('truetype');
  font-weight: 900;
}

/* 웹사이트 전체에 폰트 적용 */
body {
  font-family: 'Paperlogy';
  font-size: 62.5%;
  background-color: #f5f5f5;
  /* 정의한 폰트 이름 사용, fallback 폰트 지정 */
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

.fadeIn {
  animation: fadeIn 3s ease-out forwards;
}

.fadeOut {
  animation: fadeOut 3s ease-out forwards;
}

.backgroundimg {
  background-image: url(/images/soge.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.underline-animation {
  position: relative;
  display: inline-block;
}

.underline-animation::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0%;
  height: 4px;
  background-color: #FFECB3;
  animation: drawUnderline 1.0s ease-out forwards;
  animation-delay: 0.5s;
}

@keyframes drawUnderline {
  to {
    width: 100%;
  }
}

.project:hover {
  box-shadow: 0px 2px 8px 4px gray;
}


.notion-page-container {
  max-width: 700px;
  margin: 0 auto;
  padding: 20px;
  line-height: 1.6;
  font-family: sans-serif;
}

.notion-h1 {
  font-size: 3rem;
  font-weight: 600;
  margin-top: 1.5em;
  margin-bottom: 0.5em;
}

.notion-h2 {
  font-size: 2em;
  font-weight: 600;
  margin-top: 1.2em;
  margin-bottom: 0.4em;
}

.notion-h3 {
  font-size: 1.25em;
  font-weight: 600;
  margin-top: 1em;
  margin-bottom: 0.3em;
}

.notion-paragraph {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

.notion-list-item {
  margin-left: 1.5em;
  margin-bottom: 0.25em;
}

.notion-numbered-list-item {
  list-style-type: decimal;
}

.notion-bulleted-list-item {
  list-style-type: disc;
}