@import "tailwindcss";

@font-face {
  font-family: 'Paperlogy';
  src: url('/fonts/Paperlogy-1Thin.ttf') format('truetype');
  font-weight: 100;
}

@font-face {
  font-family: 'Paperlogy';
  src: url('/fonts/Paperlogy-2ExtraLight.ttf') format('truetype');
  font-weight: 200;
}

@font-face {
  font-family: 'Paperlogy';
  src: url('/fonts/Paperlogy-3Light.ttf') format('truetype');
  font-weight: 300;
}

@font-face {
  font-family: 'Paperlogy';
  src: url('/fonts/Paperlogy-4Regular.ttf') format('truetype');
  font-weight: 400;
}

@font-face {
  font-family: 'Paperlogy';
  src: url('/fonts/Paperlogy-5Medium.ttf') format('truetype');
  font-weight: 500;
}

@font-face {
  font-family: 'Paperlogy';
  src: url('/fonts/Paperlogy-6SemiBold.ttf') format('truetype');
  font-weight: 600;
}

@font-face {
  font-family: 'Paperlogy';
  src: url('/fonts/Paperlogy-7Bold.ttf') format('truetype');
  font-weight: 700;
}

@font-face {
  font-family: 'Paperlogy';
  src: url('/fonts/Paperlogy-8ExtraBold.ttf') format('truetype');
  font-weight: 800;
}

@font-face {
  font-family: 'Paperlogy';
  src: url('/fonts/Paperlogy-9Black.ttf') format('truetype');
  font-weight: 900;
}

/* 웹사이트 전체에 폰트 적용 */
body {
  font-family: 'Paperlogy';
  font-size: 62.5%;
  /* 정의한 폰트 이름 사용, fallback 폰트 지정 */
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

.fadeIn {
  animation: fadeIn 3s ease-out forwards;
}

.fadeOut {
  animation: fadeOut 3s ease-out forwards;
}